<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>165500617092-krftodfijfomdlu3phug2131dqfcg7e5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.165500617092-krftodfijfomdlu3phug2131dqfcg7e5</string>
	<key>API_KEY</key>
	<string>AIzaSyAhttUF7Dm7RBl3D8brAASbAvsJhyg2mtA</string>
	<key>GCM_SENDER_ID</key>
	<string>165500617092</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Test.Apple</string>
	<key>PROJECT_ID</key>
	<string>memory-card-game-60bd0</string>
	<key>STORAGE_BUCKET</key>
	<string>memory-card-game-60bd0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:165500617092:ios:4c6d8e42f2d5b170e99dd1</string>
	<key>DATABASE_URL</key>
	<string>https://memory-card-game-60bd0-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>