<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>415072983245-5npa29cfnfn19e83lr327vdk8880hejb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.415072983245-5npa29cfnfn19e83lr327vdk8880hejb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>415072983245-1625ef0jlgo365njmvsc7slak8mds3l4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDElaTiRqm3I4ZhzD-3Ohk3fOWGxiat2bM</string>
	<key>GCM_SENDER_ID</key>
	<string>415072983245</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hfelab.Come</string>
	<key>PROJECT_ID</key>
	<string>brain-memory-game-hfelab</string>
	<key>STORAGE_BUCKET</key>
	<string>brain-memory-game-hfelab.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:415072983245:ios:329d8957be582472fcb184</string>
</dict>
</plist>